@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

html, body {
    height: 100%;
    margin: 0;
}

:root {
    --Background: #0D1202;
    --Text-Primary: #EAF7CC;
    --Button-SecondaryFill: #20290B;
    --Shadow-blur: 0px;
    --Accent-Shadow-color: rgba(203, 238, 113, 0.15);
    --tiny-shadow: 0px 1px var(--Shadow-blur) 0px var(--Accent-Shadow-color);
    --Text-Secondary: rgba(234, 247, 204, 0.70);
    --Accent-Accent: #A7DC22;
    --Text-Primary2: #394C0A;
    --Card-Card: #141905;
    --accent-15: rgba(167, 220, 34, 0.15);
    --Card-Translucent: rgba(20, 25, 5, 0.50);
    --Text-Teritary: rgba(234, 247, 204, 0.50);
}

body {
    background: var(--Background);
    display: flex;
    flex-direction: column;
    height: fit-content;
}

header {
    position: sticky;
    top: 0;
    z-index: 1;
    padding: min(50px, 5vw);
    display: flex;
    justify-content: space-between;
    pointer-events: none;
}

header * {
    pointer-events: auto;
}

.header-logo {
    display: inline-flex;
    align-items: center;
    gap: 16px;
    height: 40px;
}

.header-buttons {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    height: 40px;
}

.header-logo p {
    color: var(--Text-Primary);
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}

.header-buttons-button {
    display: flex;
    height: 40px;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 22px;
    box-shadow: var(--tiny-shadow);
    text-decoration: none;
    font-family: 'Figtree', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
}

.color-darkgreen {
    background: var(--Button-SecondaryFill);
    color: var(--Text-Secondary);
}

a {
    color: var(--Text-Teritary);
    text-decoration: none;
}

a:visited {
    color: var(--Text-Teritary);
    text-decoration: none;
}

a:hover {
    color: var(--Text-Secondary);
    text-decoration: underline;
}

.color-brightgreen {
    background: var(--Accent-Accent);
    color: var(--Text-Primary2);
}

.hover-animate {
    content: url('/assets/dave.svg');
}

.hover-animate:hover {
    content: url('/assets/dave-hover.gif');
}

main {
    padding-left: max(20px, min(515px, 20vw));
    padding-right: max(20px, min(515px, 20vw));
    display: flex;
    align-items: center;
    flex: 1;
    z-index: 0;
    flex-direction: column;
    gap: 48px;
}

.webnotice {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
    z-index: 0;
    gap: 20px;
    padding: 30px max(20px, min(515px, 20vw));
}
.webnotice div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4px;
}
.webnotice div p, .webnotice div h1 {
    margin: 0;
}
.webnotice div h1 {
    color: var(--Text-Primary);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.webnotice div p {
    color: var(--Text-Secondary);
    text-align: center;
    font-family: 'Figtree', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
}

main p {
    color: var(--Text-Secondary);
    font-family: 'Figtree', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
}

footer {
    position: sticky;
    bottom: 0;
    z-index: 1;
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 24px;
    padding: min(50px, 5vw);
    pointer-events: none;
}

footer * {
    pointer-events: auto;
}

.footer-sociallist {
    display: flex;
    align-items: center;
    gap: 12px;
    height: 16px;
}

.footer-copyright, .footer-privacy {
    color: var(--Text-Teritary);
    font-family: 'Figtree', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
}

.header-buttons-button.color-darkgreen:hover {
    animation: button-hover-animate 0.3s forwards;
}
.header-buttons-button.color-darkgreen:not(:hover) {
    animation: button-hover-reverse 0.3s forwards;
}

@keyframes button-hover-animate {
    0% {
        background: var(--Button-SecondaryFill);
        color: var(--Text-Secondary);
    }
    100% {
        background: var(--Accent-Accent);
        color: var(--Text-Primary2);
    }
}

@keyframes button-hover-reverse {
    0% {
        background: var(--Accent-Accent);
        color: var(--Text-Primary2);
    }
    100% {
        background: var(--Button-SecondaryFill);
        color: var(--Text-Secondary);
    }
}

.footer-copyright p, .footer-privacy p {
    margin: 0;
}

.footer-copyright a {
    text-decoration: underline;
}

@media (max-width: 600px) {
    header {
        position: relative;
        padding: 72px 0 !important;
        display: flex;
        flex-direction: column;
        gap: 32px;
    }
    .header-logo {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 16px;
        flex: 1;
    }
    .header-buttons {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        height: 40px;
    }
    footer {
        position: relative;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 24px;
        opacity: 0.5;
        padding: 72px 0 82px !important;
    }
    .footer-copyright {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    main {
        padding-left: 20px !important;
        padding-right: 20px !important;
        justify-content: center;
    }
    .webnotice {
        padding-top: 72px !important;
        padding-bottom: 72px !important;
    }
}
