.main-header {
    display: flex;
    width: 400px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.widthfixer {
    width: 100%;
}
.main-header h1 {
    color: var(--Text-Primary);
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}
.main-header p {
    color: var(--Text-Secondary);
    font-family: 'Figtree', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    margin: 0;
}

.main-downloads {
    display: inline-flex;
    align-items: flex-start;
    gap: 20px;
    justify-content: center;
    width: 100%;
}

.download-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    width: auto;
    flex-grow: 1;
}

.download-header {
    display: flex;
    align-items: baseline;
    gap: 8px;
}

.download-header-title {
    color: var(--Text-Primary);
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.downloader-header-version {
    color: var(--Text-Secondary);
    font-family: 'Figtree', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
}

.download-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
    width: 100%;
}

.button {
    display: flex;
    height: 48px;
    padding: 8px 16px;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    flex-shrink: 0;
    align-self: stretch;
    border-radius: 12px;
    background: var(--Card-Card);
    box-shadow: 0 1px var(--Shadow-blur) 0 var(--Accent-Shadow-color);
    color: var(--Text-Secondary, rgba(234, 247, 204, 0.70)) !important;
    text-align: center;
    font-family: 'Figtree', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
}

.button-internal {
    display: flex;
    align-items: center;
    gap: 8px;
}

.button:hover {
    color: var(--Text-Primary) !important;
    background: linear-gradient(0deg, var(--accent-15) 0%, var(--accent-15) 100%), var(--Card-Card) !important;
}

/* pressing button */
.button:active {
    background: var(--Card-Card) !important;
    color: var(--Text-Primary) !important;
}

.button.disabled {
    background: var(--Card-Translucent) !important;
    box-shadow: none !important;
    color: var(--Text-Teritary) !important;
}

@media (max-width: 600px) {
    .main-header h1 {
        font-size: 20px !important;
    }
    .main-header {
        gap: 16px !important;
    }
    .main-header-h1hider h1 {
        display: inline;
        margin-right: 4px;
    }
}