.main-header {
    display: flex;
    width: 400px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.widthfixer {
    width: 100%;
}

.main-header h1 {
    color: var(--Text-Primary);
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}

.main-header p {
    color: var(--Text-Secondary);
    font-family: 'Figtree', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
    margin: 0;
}

.main-downloads {
    display: inline-flex;
    align-items: flex-start;
    gap: 20px;
    justify-content: center;
    width: 100%;
}

.download-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    width: auto;
    flex: 1 0 0;
}

.download-header {
    display: flex;
    align-items: baseline;
    gap: 8px;
}

.download-header-title {
    color: var(--Text-Primary);
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.downloader-header-version {
    color: var(--Text-Secondary);
    font-family: 'Figtree', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
}

.download-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
    width: 100%;
}

.button {
    display: flex;
    height: 48px;
    padding: 8px 16px;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    flex-shrink: 0;
    align-self: stretch;
    border-radius: 12px;
    background: var(--Card-Card);
    box-shadow: 0 1px var(--Shadow-blur) 0 var(--Accent-Shadow-color);
    color: var(--Text-Secondary, rgba(234, 247, 204, 0.70)) !important;
    text-align: center;
    font-family: 'Figtree', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 130%;
}

.button-internal {
    display: flex;
    align-items: center;
    gap: 8px;
}

.button-internal p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.button:hover {
    color: var(--Text-Primary) !important;
    background: linear-gradient(0deg, var(--accent-15) 0%, var(--accent-15) 100%), var(--Card-Card) !important;
}

/* pressing button */
.button:active {
    background: var(--Card-Card) !important;
    color: var(--Text-Primary) !important;
}

.button.disabled {
    background: var(--Card-Translucent) !important;
    box-shadow: none !important;
    color: var(--Text-Teritary) !important;
}

#dropdown.show {
    animation: slideIn 300ms ease-out forwards;
}

#dropdown:not(.show) {
    animation: slideOut 300ms ease-out forwards;
}

#dropdownImg.rotate {
    animation: vertical-rotate 300ms ease-out forwards;
}

#dropdownImg:not(.rotate) {
    animation: vertical-rotate-back 300ms ease-out forwards;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(20px);
    }
}

@keyframes vertical-rotate {
    from {
        transform: rotateX(0deg);
    }
    to {
        transform: rotateX(180deg);
    }
}

@keyframes vertical-rotate-back {
    from {
        transform: rotateX(180deg);
    }
    to {
        transform: rotateX(0deg);
    }
}

@media (max-width: 600px) {
    body {
        overflow: scroll !important;
    }

    .main-header h1 {
        font-size: 20px !important;
    }

    .main-header {
        gap: 16px !important;
        width: auto !important;
    }

    .main-header-h1hider h1 {
        display: inline;
        margin-right: 4px;
    }

    .main-downloads {
        display: flex;
        flex-direction: column;
        align-self: stretch;
    }

    .download-box {
        width: 100%;
    }
}